@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
  box-sizing: border-box;
  font-style: normal;
}

body {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  width: 320px;
  padding: 20px;

  box-sizing: border-box;
  background-color: white;
  border-radius: 12px;
}

.title {
  font-size: 16px;
  font-weight: bold;
  line-height: 24px;
  color: black;

  margin-bottom: 16px;
}

.list-title {
  display: block;
  font-size: 12px;

  font-weight: 500;
  line-height: 16px;

  margin-bottom: 8px;
}

.list-container {
  box-sizing: border-box;
  padding: 8px 5px;
  width: 100%;
  border: 1px solid #eee;
  background-color: #fafafa;

  margin-bottom: 16px;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 4px;

  width: 100%;
  height: 156px;

  overflow-y: scroll;
}

.list::-webkit-scrollbar {
  width: 2px;
  background: none;
}

.list::-webkit-scrollbar-thumb {
  width: 2px;
  height: 30px;

  background: #9ca3af;
  border-radius: 100%;
}

.list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 7px 8px;
}

.url {
  display: flex;
  align-items: center;
}

.domain {
  font-size: 14px;
  font-weight: bold;
  line-height: 20px;
  color: #111827;
}

.favicon {
  display: block;
  width: 18px;
  height: 18px;
  background-color: black;
  border-radius: 100%;
  margin-right: 8px;
}

.delete-btn {
  background: none;
  outline: none;
  border: none;

  font-size: 14px;
  font-weight: bold;
  line-height: 20px;
  color: black;

  cursor: pointer;
}

.submit-btn {
  font-size: 14px;
  color: #5c91f6;
  width: 100%;
  background: none;
  outline: none;
  border: 1px solid #5c91f6;
  border-radius: 6px;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 10px 0;

  cursor: pointer;
}
